In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("data/dataset.csv")

In [3]:
data

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944230,242106032,02/20/2024 12:00:00 AM,02/17/2024 12:00:00 AM,2330,21,Topanga,2103,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,22700 NAPA ST,NaN,34.2260,-118.6214
944231,242004546,01/16/2024 12:00:00 AM,01/16/2024 12:00:00 AM,1510,20,Olympic,2013,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,HOBART BL,3RD ST,34.0690,-118.3054
944232,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
944233,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
944234,240900704,04/29/2024 12:00:00 AM,04/29/2024 12:00:00 AM,2020,9,Van Nuys,916,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,998.0,NaN,NaN,6800 HAZELTINE AV,NaN,34.1939,-118.4400

In [4]:
data_recent = data[
    (data["Date Rptd"].str.split().str[0].str[-4:] == "2024")
]

In [5]:
data_recent = data_recent[data_recent["LAT"] != 0]

In [6]:
data_recent

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
50,241504067,01/02/2024 12:00:00 AM,12/29/2020 12:00:00 AM,750,15,N Hollywood,1555,2,903,CONTEMPT OF COURT,...,IC,Invest Cont,903.0,NaN,NaN,NaN,5000 TUJUNGA AV,NaN,34.1614,-118.3790
61,240604173,01/05/2024 12:00:00 AM,07/09/2020 12:00:00 AM,1230,6,Hollywood,637,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,6200 HOLLYWOOD BL,NaN,34.1030,-118.3225
177,241204387,01/05/2024 12:00:00 AM,05/05/2020 12:00:00 AM,1025,12,77th Street,1269,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,900 E 82ND ST,NaN,33.9647,-118.2586
191,241204463,01/07/2024 12:00:00 AM,06/07/2020 12:00:00 AM,1315,12,77th Street,1293,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,10200 RUTHELEN ST,NaN,33.9440,-118.3123
218,240604147,01/05/2024 12:00:00 AM,01/01/2020 12:00:00 AM,1405,6,Hollywood,646,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1300 CHEROKEE AV,NaN,34.0944,-118.3352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944230,242106032,02/20/2024 12:00:00 AM,02/17/2024 12:00:00 AM,2330,21,Topanga,2103,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,22700 NAPA ST,NaN,34.2260,-118.6214
944231,242004546,01/16/2024 12:00:00 AM,01/16/2024 12:00:00 AM,1510,20,Olympic,2013,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,HOBART BL,3RD ST,34.0690,-118.3054
944232,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
944233,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
944234,240900704,04/29/2024 12:00:00 AM,04/29/2024 12:00:00 AM,2020,9,Van Nuys,916,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,998.0,NaN,NaN,6800 HAZELTINE AV,NaN,34.1939,-118.4400

In [15]:
data_recent.to_csv("data/dataset_recent.csv")

In [21]:
case_statuses = data_recent["Status Desc"].unique()

In [24]:
data_recent["Status Desc"].value_counts()

Status Desc
Invest Cont     65393
Adult Arrest     4119
Adult Other      3672
Juv Arrest        193
Juv Other         152
UNK                 1
Name: count, dtype: int64

In [9]:
data_recent["Vict Descent"].value_counts()

Vict Descent
H    20313
W    13707
X    10342
B     8523
O     5559
A     1516
K      515
F      428
C      415
J      129
V       99
I       84
Z       32
U       23
P       20
L        9
D        7
G        4
S        3
Name: count, dtype: int64

In [27]:
data_recent["Crm Cd Desc"].value_counts()

Crm Cd Desc
VEHICLE - STOLEN                                           8667
BATTERY - SIMPLE ASSAULT                                   5191
BURGLARY FROM VEHICLE                                      4533
BURGLARY                                                   4375
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)    4326
                                                           ...
BIGAMY                                                        1
ILLEGAL DUMPING                                               1
INCITING A RIOT                                               1
DOCUMENT WORTHLESS ($200 & UNDER)                             1
PICKPOCKET, ATTEMPT                                           1
Name: count, Length: 128, dtype: int64

In [30]:
data_recent[data_recent["Crm Cd Desc"] == "ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT"]["Vict Descent"].value_counts()

Vict Descent
H    1749
B     870
W     427
O     186
X     117
A      46
K       5
I       4
F       2
Name: count, dtype: int64